:root {
  --border: 1px solid red;
  --primary: #0C68F4;
  --secondory: #F45E0C;
  --black: #0C0C0C;
  --error: #C91433;
  --app_fonts:"inter-regular" ;
}

body,
html {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: var(--app_fonts);
}

img,
span,
label,
a,
i {
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
  transition-duration: 0.3s;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: left;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
p.p2 {
  font-size: 24px;
  line-height: 34px;
}

header,
nav,
aside,
div,
main,
footer {
  box-sizing: border-box;
}

h1 {
  font-size: 90px;
  line-height: 100px;
}

h2 {
  font-size: 48px;
  line-height: 58px;
}

h3 {
  font-size: 22px;
  line-height: 32px;
}

.container {
  width: 1400px;
  margin: auto;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .container {
    width: calc(100% - 30px);
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .container {
    width: 546px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .container {
    width: 962px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

nav .nav_body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 18px 0px;
}
nav .nav_body .logo {
  height: 65px;
}
nav .nav_body .logo img {
  height: 100%;
}
nav .nav_body .menu ul {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  gap: 65px;
}
nav .nav_body .menu ul li a {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  position: relative;
}
nav .nav_body .menu ul li a::after {
  content: "";
  height: 2px;
  width: 0px;
  position: absolute;
  left: -10px;
  bottom: -10px;
  background-color: var(--primary);
  background-position: center center;
  transition-duration: 0.3s;
}
nav .nav_body .menu ul li a:hover {
  color: var(--primary);
}
nav .nav_body .menu ul li a:hover::after {
  width: calc(100% + 20px);
}
nav .nav_body .action_menu ul {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  gap: 25px;
}
nav .nav_body .action_menu ul li {
  position: relative;
}
nav .nav_body .action_menu ul li a {
  font-size: 18px;
  color: var(--black);
  transition-duration: 0.3s;
}
nav .nav_body .action_menu ul li a:hover {
  color: var(--primary);
}
nav .nav_body .action_menu ul li:has(.active) > a, nav .nav_body .action_menu ul li:has(.active) i {
  color: var(--primary);
}

#jumbo_menu {
  background-color: rgba(0, 0, 0, 0.521);
  height: calc(100vh - 103px);
  transition-duration: 0.3s;
  visibility: hidden;
  position: fixed;
  opacity: 0;
  width: 100vw;
  top: 103px;
}
#jumbo_menu.active {
  visibility: visible;
  opacity: 1;
}
#jumbo_menu .product_list_menu {
  border-top: 1px solid var(--primary);
}
#jumbo_menu .product_list_menu .overlay {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#jumbo_menu .product_list_menu .overlay .product_category_list {
  display: flex;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .category_list {
  width: 290px;
  border-right: 1px solid #9E9E9E;
  padding: 24px 16px;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .category_list ul li {
  margin-bottom: 16px;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .category_list ul li a {
  display: flex;
  gap: 16px;
  color: var(--black);
  align-items: center;
  transition: 0.3s;
  font-size: 18px;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .category_list ul li a:hover {
  color: var(--primary);
}
#jumbo_menu .product_list_menu .overlay .product_category_list .category_list ul li a i {
  width: 24px;
  height: 24px;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list {
  justify-content: space-between;
  display: flex;
  flex: 1;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .subcategories {
  width: 260px;
  padding: 24px 16px;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .subcategories ul li {
  margin-bottom: 16px;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .subcategories ul li a {
  display: flex;
  gap: 16px;
  color: var(--black);
  align-items: center;
  font-size: 18px;
  transform: 0.3s;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .subcategories ul li a:hover {
  color: var(--primary);
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .subcategories ul li a i {
  width: 24px;
  height: 24px;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .subcategories ul li .view_all {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--primary);
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .top_product {
  flex: 1;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .top_product .close {
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .top_product .close a {
  background-color: var(--primary);
  color: white;
  border-radius: 4px;
  margin-bottom: 3px;
  padding: 10px 15px;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .top_product .nav_product_list {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .top_product .nav_product_list .nav_product {
  width: 120px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.644);
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .top_product .nav_product_list .nav_product img {
  margin-bottom: 16px;
}
#jumbo_menu .product_list_menu .overlay .product_category_list .subcategory_list .top_product .nav_product_list .nav_product a h4 {
  font-size: 16px;
  color: var(--black);
  font-weight: 400;
}

.user_drop_down_actions {
  position: absolute;
  top: calc(100% + 39px);
  right: 0;
  width: 230px;
  padding: 16px;
  box-shadow: 1px 3px 10px -2px rgba(12, 104, 244, 0.5490196078);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 2px solid var(--primary);
  display: none;
  z-index: 9;
}
.user_drop_down_actions.active {
  display: block;
}
.user_drop_down_actions ul {
  display: grid;
  gap: 24px;
}
.user_drop_down_actions ul li a {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.user_drop_down_actions ul li a.hover .content h4, .user_drop_down_actions ul li a.hover .content p {
  color: var(--primary);
}
.user_drop_down_actions ul li a .content h4 {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  margin: 0;
  margin-bottom: 4px;
}
.user_drop_down_actions ul li a .content h4.block {
  color: var(--black);
}
.user_drop_down_actions ul li a .content p {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  font-weight: 300;
}

.cart_item {
  position: absolute;
  top: calc(100% + 39px);
  right: 0;
  width: 512px;
  max-height: 700px;
  padding: 16px;
  box-shadow: 1px 3px 10px -2px rgba(12, 104, 244, 0.5490196078);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 2px solid var(--primary);
  display: none;
  z-index: 9;
}
.cart_item.active {
  display: block;
}
.cart_item .top_cart .text {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}
.cart_item .mid_cart .cart_item_list {
  padding: 8px;
  height: 447px;
  overflow-y: scroll;
}
.cart_item .mid_cart .cart_item_list .cart_list {
  padding: 16px 32px;
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: white;
  box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
  display: flex;
  gap: 25px;
  align-items: center;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_img {
  width: 100%;
  height: 100%;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_img img {
  width: 155px;
  height: 155px;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text {
  width: calc(100% - 176px);
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .product_name,
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .size {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .color {
  margin-top: 10px;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .color,
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .qty {
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .extra_features ul {
  display: block;
  margin-top: 10px;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .extra_features ul li {
  display: flex;
  gap: 10px;
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .extra_features ul li .icon {
  color: var(--primary);
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .qty_changer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .qty_changer .price {
  font-size: 13px;
  line-height: 15px;
  display: flex;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .qty_changer .qty_update {
  display: flex;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .qty_changer .qty_update button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .qty_changer .qty_update .trash {
  color: var(--error);
  cursor: pointer;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .qty_changer .qty_update .qty_input {
  display: flex;
  gap: 2px;
  border-bottom: 1px solid #717171;
}
.cart_item .mid_cart .cart_item_list .cart_list .cart_text .qty_changer .qty_update .qty_input .input {
  width: 45px;
  border: 0;
  text-align: center;
}
.cart_item .bottom_cart {
  display: flex;
  gap: 32px;
  align-items: center;
  padding: 15px;
}
.cart_item .bottom_cart .left .title {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}
.cart_item .bottom_cart .left .amount {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}
.cart_item .bottom_cart .right {
  flex: 1;
}
.cart_item .bottom_cart .right a {
  background-color: var(--primary);
  color: white;
  font-size: 16px;
  border-radius: 8px;
  display: block;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 15px;
}
.cart_item .bottom_cart .right a span {
  color: white;
}
.cart_item .bottom_cart .right a i {
  color: white;
}

@font-face {
  font-family: "inter-regular";
  src: url("../fonts/inter/Inter-Regular.ttf");
}

/*# sourceMappingURL=app.css.map */
